<div class="container text-center my-5">
    <div class="row text-center">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 border border-info rounded bg-light">
        </br>
        </br>
        </br>
        <p class="h1 text-secondary">SIGN UP</p></br>

        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <div class="fas fa-user-circle fa-lg fa-border text-secondary"></div>
            <%= f.text_field :name, autofocus: true, placeholder: "Name" %>
          </div></br>

          <div class="field">
            <div class="fas fa-envelope fa-lg fa-border text-info"></div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
          </div></br>

          <div class="field">
            <div class="fas fa-lock fa-lg fa-border text-secondary"></div>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (6characters)"%>
          </div></br>

          <div class="field">
            <div class="fas fa-check-circle fa-lg fa-border text-danger"></div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation"%>
          </div></br>

          <div class="actions mt-5">
            <%= f.submit "SIGN UP",class: "h1 bg-secondary text-white btn radius-pixel-30" %>
          </div>
        <% end %>
        </br>
        </br>
        </br>
        </br>
      </div>
      <div class="col-lg-3"></div>
    </div>
</div>
</br>
</br>
</br>
</br>
</br>