<div class="container my-5">
  <div class="row">
    <div class="col-lg-6 text-secondary">
      <h2>➡ PROFIEL.UPDATE</h2>
    </div>
    <div class="col-lg-6">
      <p>プロフィールを更新しよう。</p>
    </div>
  </div>
</div>

    <!--エラーメッセージの表示-->
    <% if @user.errors.any? %>
      <p class="ml-5 text-danger">
        <%= @user.errors.count %>error prohibited this obj from being saved:
      </p>
      <ul class="ml-5">
        <% @user.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
        <% end %>
      </p>
    <% end %>

<div class="container text-center mb-5">
    <div class="row text-center">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 border border-info rounded bg-light">
        </br>
        </br>
        <h1>プロフィール編集</h1>
        </br>
        </br>
          <%= form_with model:@user, local:true do |f| %>
            <label for="inputName"></label>
            <!--text_fieldで、nameカラムを変更できるようにする-->
            <%= f.text_field :name %>
            </br>
            </br>
            <label for="user_introduction"></label><br>
            <%= f.text_field :introduction %>
            </br>
            </br>
            <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, class: "rounded-circle" %>
            <label for="inputImage"></label>
            <%= f.attachment_field :profile_image %>
            </br>
            </br>
            <%= f.submit "UPDATE", class: "bg-secondary text-white btn radius-pixel-30" %>
          <% end %>
          </br>
          </br>
          </br>
      </div>
      <div class="col-lg-3"></div>
    </div>
</div>