<div class="container">
  <%= flash[:notice] %>
  <h2>➡ MY PAGE</h2>
  <p>『　ゆ　め　ぐ　る　』で心も体もあたたまろう。</p>
    <% @post_images.each do |post_image| %>
      <div>
        <!--複数枚のためeachで取り出す-->
        <% if post_image.onsen_images.present? %>
          <% post_image.onsen_images.each do |image| %>
            <%= attachment_image_tag image, :image %>
          <% end %>
        <% end %>
        <!--詳細ページのリンク-->
        <%= link_to post_image_path(post_image.id) do %>
          <p>温泉名 <%= post_image.post_name %></p>
        <% end %>
        <p>コメント <%= post_image.caption %></p>
        <p>名前 <%= post_image.user.name %></p>
        <%= attachment_image_tag post_image.user, :profile_image, :fill, 60, 60, format: 'jpeg' %>
        <!--idを付与-->
        <!--いいねした投稿に対応するいいねボタンを特定-->
        <div id="post_image_<%= post_image.id %>">
        <p class="favorite-btn" ><%= render "favorites/favorite-btn", post_image: post_image %></p>
        </div>
        <!--式展開-->
        <p><%= link_to "#{post_image.post_comments.count} ", post_image_path(post_image.id), class: "fas fa-comment-dots text-dark" %></p>
      </div>
    <% end %>
    <!--ページャの実装-->
    <%= paginate @post_images %>
</div>

<div class="container">
  <%= attachment_image_tag @user, :profile_image, :fill, 80, 80, format: 'jpeg' %>
  <h4>名前</h4><%= @user.name %>
  <h4>自己紹介</h4><%= @user.introduction %>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>


</div>