<div class="container text-center my-5 ">
  <!--スライドショー-->
  <!--idは任意の名前-->
  <div class="carousel slide" id="hoge" data-ride="carousel">
  <ol class="carousel-indicators">
    <!--インディケーター-->
    <!--画像の枚数分-->
    <li data-target="#hoge" data-slide-to="0" class="active"></li>
    <li data-target="#hoge" data-slide-to="1"></li>
    <li data-target="#hoge" data-slide-to="2"></li>
    <li data-target="#hoge" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <!--画像部分-->
    <div class="carousel-item active"><%= image_tag 'top1.jpg', width: "100%", height: "60%" %></div>
    <div class="carousel-item"><%= image_tag 'top2.jpg', width: "100%", height: "60%" %></div>
    <div class="carousel-item"><%= image_tag 'top3.jpg', width: "100%", height: "60%" %></div>
    <div class="carousel-item"><%= image_tag 'top4.jpg', width: "100%", height: "60%" %></div>
  </div>
  <!-- 画像遷移のボタン-->
  <a href="#hoge" class="carousel-control-prev" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="sr-only"></span>
  </a>
  <a href="#hoge" class="carousel-control-next" data-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="sr-only"></span>
  </a>
  </div>
</div>


<div class="container mb-5">
  <div class="text-center">
    <h3>『　ゆ　め　ぐ　る　』　へ　よ　う　こ　そ　。</h3>
    </br>
    </br>
    <p>はじめての方はサインアップ</br>
    </br>
       登録済みの方はログインから
    </br>
    </br>
    </p>

    <span><%=link_to "SIGN UP", new_user_registration_path, class:"text-dark" %></span> |
    <span><%=link_to "LOG IN", new_user_session_path, class:"text-dark" %></span>
  </div>
</div>