<div class="container my-5">
  <div class="row">
    <div class="col-lg-6 text-secondary">
      <h2>➡ POST UPDATE</h2>
    </div>
    <div class="col-lg-6">
      <p>投稿を更新しよう。</p>
    </div>
  </div>
</div>

    <!--エラーメッセージの表示-->
    <!--画像が選択されていない時もしくは、@post_image.errorsがある時-->
    <% if  @is_images == 1 || @post_image.errors.any? %>
      <p class="ml-5 text-danger">
        <!--@is_imagesをカウントに足す-->
        <%= @post_image.errors.count + @is_images %>errors prohibited this obj from being saved:
      </p>
      <ul class="ml-5">
        <!--@post_image.errorsのエラーメッセージを全て表示-->
        <% @post_image.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
        <% end %>
        <!--画像が選択されていない時のエラーメッセージを表示-->
        <% if @is_images == 1 %>
          <li>
            Please, select any images.
          </li>
        <% end %>
      </ul>
    <% end %>

<div class="container text-center mb-5">
    <div class="row text-center">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 border border-info rounded bg-light">
        </br>
        </br>
        <h1>投稿編集フォーム</h1></br>
        </br>
        </br>
          <%= form_with model: @post_image, local:true do |f| %>
            <!--idを除いた名前を指定-->
            <!--複数枚の時はmultiple: trueを追加-->
            <%= f.attachment_field :onsen_images_images, multiple: true%></br>
            </br>
            </br>
            <%= f.text_field :post_name, placeholder: "温泉名"%></br>
            </br>
            </br>
            <%= f.text_area :caption, placeholder: "コメントをここに" %></br>
            </br>
            </br>
            <%= f.submit 'UPDATE', class: "bg-secondary text-white btn radius-pixel-30"%>
          <% end %>
          </br>
          </br>
          </br>
      </div>
      <div class="col-lg-3"></div>
    </div>
</div>