<div class="container my-5">
  <div class="row">
    <div class="col-lg-6 text-secondary">
      <h2>➡ POST UPDATE</h2>
    </div>
    <div class="col-lg-6">
      <p>投稿を更新しよう。</p>
    </div>
  </div>
</div>
    <!--エラーメッセージの表示-->
    <% if @post_image.errors.any? %>
      <%= @post_image.errors.count %>errors prohibited this obj from being saved:
      <% @post_image.errors.full_messages.each do |message| %>
      <%= message %>
      <% end %>
    <% end %>
<div class="container text-center mb-5">
    <div class="row text-center">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 border border-info rounded bg-light">
        </br>
        <h1>投稿編集フォーム</h1></br>
        </br>
        </br>
          <%= form_with model: @post_image, local:true do |f| %>
            <!--idを除いた名前を指定-->
            <!--複数枚の時はmultiple: trueを追加-->
            <%= f.attachment_field :onsen_images_images, multiple: true%></br>
            </br>
            </br>
            <%= f.text_field :post_name, placeholder: "温泉名"%></br>
            </br>
            </br>
            <%= f.text_area :caption, placeholder: "コメントをここに" %></br>
            </br>
            </br>
            <%= f.submit 'UPDATE', class: "bg-secondary text-white btn radius-pixel-30"%>
          <% end %>
          </br>
      </div>
      <div class="col-lg-3"></div>
    </div>
</div>