<div class="container my-5">
  <!--エラーメッセージの表示-->
  <% if @post_image.errors.any? %>
    <p class="h5 ml-5 text-danger">
      <%= @post_image.errors.count %>error prohibited this obj from being saved.
    </p>
    <ul class="h5 ml-5">
      <% @post_image.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
      <% end %>
    </ul>
  <% end %>

  <div class="row mt-5">
    <div class="col-lg-6 h2 text-secondary">
      <p>>> POST.UPDATE</p>
    </div>
    <div class="col-lg-6">
    </div>
  </div>
</div>

<div class="container text-center mb-5">
    <div class="row text-center">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 border border-info rounded bg-light">
        </br>
        </br>
        <p class="h1 text-secondary">EDIT FORM</p></br>
        </br>
        </br>
          <%= form_with model: @post_image, local:true do |f| %>
            <!--複数枚のためeachで取り出す-->
            <% if @post_image.onsen_images.present? %>
              <% @post_image.onsen_images.each do |image| %>
                <%= attachment_image_tag image, :image, :fill, 50, 50 %>
              <% end %>
            <% end %>
            <!--idを除いた名前を指定-->
            <!--複数枚の時はmultiple: trueを追加-->
            <%= f.attachment_field :onsen_images_images, multiple: true %></br>
            </br>
            </br>
            <%= f.text_field :post_name, placeholder: "温泉名" %></br>
            </br>
            </br>
            <%= f.text_area :caption, placeholder: "コメントをここに" %></br>
            </br>
            </br>
            <%= f.submit 'UPDATE', class: "h1 bg-secondary text-white btn radius-pixel-30" %>
          <% end %>
          </br>
          </br>
          </br>
      </div>
      <div class="col-lg-3"></div>
    </div>
</div>