<div class="container">
  <h2>➡ POST.LIST</h2>
  <p>あなたの行きたい『　ゆ　』をみつけよう。</p>
    <% @post_images.each do |post_image| %>
      <div>
        <!--詳細ページのリンク-->
        <%= link_to post_image_path(post_image.id) do %>
          <%= attachment_image_tag post_image, :image %>
        <% end %>
        <!--詳細ページのリンク-->
        <%= link_to post_image_path(post_image.id) do %>
          <p>温泉名 <%= post_image.post_name %></p>
        <% end %>
        <p>コメント <%= post_image.caption %></p>
        <!--ユーザー詳細画面へのリンク-->
        <%= link_to user_path(post_image.user) do %>
          <p>名前 <%= post_image.user.name %></p>
        <% end %>
        <!--ユーザー詳細画面へのリンク-->
        <%= link_to user_path(post_image.user) do %>
          <%= attachment_image_tag post_image.user, :profile_image, :fill, 60, 60 %>
        <% end %>
        <!--idを付与-->
        <!--いいねした投稿に対応するいいねボタンを特定-->
        <div id="post_image_<%= post_image.id %>">
        <p class="favorite-btn" ><%= render "favorites/favorite-btn", post_image: post_image %></p>
        </div>
         <!--式展開-->
        <p><%= link_to "︎✐#{post_image.post_comments.count} ", post_image_path(post_image.id) %></p>
      </div>
    <% end %>
    <!--ページャの実装-->
    <%= paginate @post_images %>
</div>