<div class="container">
  <h2>➡ NEW.POST</h2>
  <p>いいね、コメントを残そう。</p>
    <div>
      <%= attachment_image_tag @post_image, :image %>
      <p>温泉名 <%= @post_image.post_name %></p>
      <p>コメント <%= @post_image.caption %></p>
      <p>名前 <%= @post_image.user.name %></p>
      <p>投稿日 <%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
        <!--一致した場合のみ表示-->
        <% if @post_image.user == current_user %>
          <%= link_to "削除", post_image_path(@post_image), method: :delete %>
          <%= link_to "編集", edit_post_image_path(@post_image) %>
        <% end %>
    </div>
</div>