<div class="container">
  <h2>➡ NEW.POST</h2>
  <p>いいね、コメントを残そう。</p>
    <div id="post_image_<%= @post_image.id %>">
      <%= attachment_image_tag @post_image, :image %>
      <p>温泉名 <%= @post_image.post_name %></p>
      <p>コメント <%= @post_image.caption %></p>
      <!--ユーザー詳細画面へのリンク-->
      <%= link_to user_path(@post_image.user) do %>
        <p>名前 <%= @post_image.user.name %></p>
      <% end %>
      <!--ユーザー詳細画面へのリンク-->
      <%= link_to user_path(@post_image.user) do %>
        <%= attachment_image_tag @post_image.user, :profile_image, :fill, 60, 60 %>
      <% end %>
      <p>投稿日 <%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
        <!--一致した場合のみ表示-->
        <% if @post_image.user == current_user %>
          <!--確認画面表示-->
          <%= link_to "削除", post_image_path(@post_image), method: :delete, data: { confirm: '本当に削除しますか?' } %>
          <%= link_to "編集", edit_post_image_path(@post_image) %>
        <% end %>
      <p class="favorite-btn" ><%= render "favorites/favorite-btn", post_image: @post_image %>
    </div>
</div>

<div class="container">
  <!--post_imageに結びついてる-->
  <p><%= @post_image.post_comments.count %>件のコメント</p>
    <% @post_image.post_comments.each do |post_comment| %>
      <%= post_comment.user.name %>
      <%= post_comment.created_at.strftime('%Y/%m/%d') %>
      <%= post_comment.comment %>
      <% if post_comment.user_id == current_user.id %>
        <div>
          <!--idを二つ指定-->
          <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete, data: { confirm: '本当に削除しますか?' } %>
        </div>
      <% end %>
    <% end %>
</div>
<div class="container">
  <!--配列でインスタンス変数を2つ指定-->
  <%= form_with(model:[@post_image, @post_comment], local: true) do |f| %>
  　<!--text_areaの高さを行数で指定-->
    <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>