<!DOCTYPE html>
<html>
  <head>
    <title>PfYumeguru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/" ><img src="<%= asset_path('logo.3.png') %>" ></a>
        <!--jQuery idを指定-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--idを付与-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <!--ログイン後-->
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "HOME", post_images_path, class:"nav-link active mx-5 border-bottom h4" %>
              </li>
              <li class="nav-item">
                <%= link_to "NEW POST", new_post_image_path, class:"nav-link active mx-5 border-bottom h4" %>
              </li>
              <li class="nav-item">
                <%= link_to "MY PAGE", user_path(current_user.id), class:"nav-link active mx-5 border-bottom h4" %>
              </li>
              <li class="nav-item">
                <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, data: { confirm: 'Do you really want to log out ?' }, class:"nav-link active mx-5 border-bottom h4" %>
              </li>
            <% else %>
            　<!--ログイン前-->
              <li class="nav-item">
                <%= link_to "SIGN UP", new_user_registration_path, class:"nav-link active mx-5 border-bottom h4" %>
              </li>
              <li class="nav-item">
                <%= link_to "LOG IN", new_user_session_path, class:"nav-link active mx-5 border-bottom h4" %>
              </li>
              <li class="nav-item">
                <%= link_to "ABOUT", about_path, class:"nav-link active mx-5 border-bottom h4" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer class="p-4 bg-light">
    <div class="container">
  	  <div class="row">
  	    <!--要素の中央寄せ-->
    	  <div class="mx-auto">
    		<p><img src="<%= asset_path('logo2.png') %>" >
    		</p>
    	  </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>